.cabecalho {
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}  

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;                            
    padding: 24px 0;
    font-size: 24px;
}

* {
    margin: 0;
    padding: 0;
}

.loja-imagem{
    width: 25%;
}

.loja{
    background-image: linear-gradient(#000,gray);
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;  padding: 24px 0;  
}

.loja-conteudo{
    width: 35%;
}

.loja-titulo {  
    padding: 24px 0;
}

.loja-jaqueta {
    width: 10%;
}

.loja-camisa {
    width: 10%;
}

.loja-blazer {
    width: 10%;
}

.loja-icone {
    width: 24px;
    padding: 4px 8px;
}

.loja-tudo {

   