.cabecalho {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}  

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;                            
    padding: 24px 0;
    font-size: 24px;
}

* {
    margin: 0;
    padding: 0;
}

.loja-texto-um {
    text-align: justify;
}

.loja-imagem{
    width: 25%;
}

.loja{
    background-image: linear-gradient(black , gray);
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;  padding: 24px 0;  
}

.loja-conteudo{
    width: 35%;
}

.rodape {
    background-color: #000;
    text-align: center;
}

.rodape-imagem {
    height: 60px;s
    padding: 12px 0;
}

.loja-titulo {  
    padding: 12px 0;
    text-align: center;

}

.loja-roupas {
    width: 120px;
}
    

   
.loja-icone {
     width: 24px;
    padding: 4px 8px;
}

.loja-tudo {
    display: grid;
    grid-template-columns: auto;
   
}

.body {
    font-family: 'Poppins', sans-serif;

}
   
.loja-div {
    text-align: center;
    padding: 16px 0;
}

.loja-titulo {
    justify-content: space-around;
}